.benefitsHeading {
    text-align: center;
    margin-top: 30px !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 900;
    color: #011f41;
    text-transform: uppercase;

    ::after {
        content: "";


    }

    @media (max-width : 600px) {
        font-size: 30px;
    }
}

.benfitswraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    .benefitsHead {
        min-height: 300px;
        width: 300px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
        padding: 5px 20px;
        @media (max-width : 600px) {
            margin-bottom: 15px;
        }
      .benefitIcons {
            font-size: 90px;
            color: #000;
        }
    }
}

// .whatsabIcon{
//     color: green;
//     font-size: 50px;
//     cursor: pointer;
//     right: 5;
//     position: fixed;
//     top: 300px;
//     :active{
//         opacity: 0.5;

//     }
// }