.service {
    text-align: center;
    margin-top: 55px !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 900;
    color: #011f41;

    ::after {
        content: "";


    }

    @media (max-width : 600px) {
        font-size: 30px;
    }
}

.secWrapper {
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
    margin-top: 30px;
    width: 92%;
    margin-bottom: 10px;

    @media (max-width : 600px) {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .head {
        height: 130px;
        width: 400px;
        display: flex;
        padding: 25px 1.5vw;
        // background-color: #011F41;
        // color: #ffffff;
        text-align: left;
        border-right: 2px solid #000;
        line-height: normal;

        @media (max-width: 600px) {
            width: 100%;
            height: 100px;
            justify-content: center;
            height: 60px;
            border-bottom: 2px solid #000;
            border-right: none;
        }

        h3 {
            font-size: 15px;

            @media (max-width : 850px) {
                font-size: 12px;

            }
        }

        p {
            @media (max-width : 850px) {
                font-size: 13px;

            }
        }

        .servicesIcon {
            font-size: 40px;
            display: inline-block;
            margin-right: 2px;

            @media (max-width : 850px) {
                font-size: 30px;

            }
        }

    }
}